*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}

.container{
    min-height: 200px;
    width: 350px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 18px #ecf0f3;
}

h3{
    text-align: center;
    margin-top: 20px;
}

.pass{
    text-align: center;
    outline: none;
    margin-top: 30px;
    margin-left: 20px;
    height: 40px;
    width: 300px;
}

.btns{
    justify-content: space-between;
    margin-top: 25px;

}

.btn1, .btn2{
    padding: 10px;
    outline: none;
    color: #fff;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn1{
    margin-left: 55px;
}

.btn2{
    margin-left: 70px;
}